.items {
    background: #fff;
    padding: 32px;
    margin-bottom: 32px;
    
    &__row {
        display: flex;
        justify-content: space-between;

        &__img {
            display: flex;
            justify-content: center;

            margin-top: 0;
            width: 680px;

            img {
                width: 100%;
            }
        }

        &__description {

            .condition {
                color: #666;
                font-size: 14px;
                margin-bottom: 16px;
            }

            .title {
                color: #333;
                font-size: 24px;
                margin-bottom: 32px;
            }

            .price {
                color: #333;
                font-size: 46px;
                margin-bottom: 32px;
            }

            button {
                align-items: center;
                display: flex;
                justify-content: center;

                background: #3483fa;
                border: transparent;
                border-radius: 6px;
                cursor: pointer;
                font-size: 16px;
                font-weight: 600;
                color: #fff;
                height: 48px;
                transition: .18s ease-out;
                width: 100%;

                &:hover {
                    background-color: #2968c8;
                }
            }
        }
    }

    &__wrapperText {
        margin-top: 70px;

        h3 {
            font-size: 28px;
        }

        p {
            color: #999;
            font-size: 16px;
            width: 680px;
            white-space: pre-line;
        }
    }
}
